{% include "base1.html" %}

<body>
    <section class="sub-header2">
        <nav>
            <a href="index.html"><img src="static/styles/images/x_study.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About-Me</a></li>
                    <!--<li><a href="/academic">Academics</a></li>-->
                    <li><a href="/award">Awards</a></li>
                    <li><a href="/athletic">Athletics</a></li>
                    <li><a href="/dubbing">Voice-Acting</a></li>
                    <li><a href="/teaching">My-Teaching</a></li>
                    <li><a href="/book">My-Book</a></li>
                    <li><a href="/volunteering">Volunteering</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/arts">Arts</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>My Athletic</h1>
    </section>
    {% include "base3.html" %}
    <section class="volunteer">
        <h1>Athletic - Fuel Your Passion, Empower Your Strength</h1>
        <div class="row">
            <div class="volunteer-col">
                <img src="static/styles/images/bb_16.jpg">
                <img src="static/styles/images/bb_01.jpg">
                <img src="static/styles/images/bb_02.jpg">
                <img src="static/styles/images/bb_03.jpg">
                <img src="static/styles/images/bb_04.jpg">
                <img src="static/styles/images/bb_05.jpg">
                <img src="static/styles/images/bb_06.jpg">
                <img src="static/styles/images/bb_07.jpg">
                <img src="static/styles/images/bb_08.jpg">
                <img src="static/styles/images/bb_09.jpg">
                <img src="static/styles/images/bb_10.jpg">
                <img src="static/styles/images/bb_11.jpg">
                <img src="static/styles/images/bb_12.jpg">
                <img src="static/styles/images/bb_13.jpg">
                <img src="static/styles/images/bb_14.jpg">
                <img src="static/styles/images/bb_15.jpg">
                
                <img src="static/styles/images/bb_17.jpg">
                <img src="static/styles/images/bb_18.jpg">
                <img src="static/styles/images/bb_19.jpg">
                <img src="static/styles/images/bb_20.jpg">
                <img src="static/styles/images/db_01.jpg">
                <img src="static/styles/images/db_02.jpg">
                <img src="static/styles/images/db_03.jpg">
                <img src="static/styles/images/db_04.jpg">

                <img src="static/styles/images/db_08.jpg">
                <img src="static/styles/images/db_09.jpg">
                <img src="static/styles/images/db_10.jpg">
                <img src="static/styles/images/db_12.jpg">
                <img src="static/styles/images/db_13.jpg">
                <img src="static/styles/images/db_14.jpg">
                <img src="static/styles/images/db_18.jpg">
            </div>
        </div>
    </section>


    {% include "base2.html" %}