{% include "base1.html" %}
<body>
    <section class="sub-header3">
        <nav>
            <a href="index.html"><img src="static/styles/images/x_study.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About-Me</a></li>
                    <!--<li><a href="/academic">Academics</a></li>-->
                    <li><a href="/award">Awards</a></li>
                    <li><a href="/athletic">Athletics</a></li>
                    <li><a href="/dubbing">Voice-Acting</a></li>
                    <li><a href="/teaching">My-Teaching</a></li>
                    <li><a href="/book">My-Book</a></li>
                    <li><a href="/volunteering">Volunteering</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/arts">Arts</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>Awards</h1>
    </section>
    {% include "base3.html" %}
    <section class="award-content">
        <div class="row">
            <div class="award-left">
                <img src="static/styles/images/certificate.jpg">
                <h2>Our Certificate & Online Programs For 2021</h2>
                <p>Elon Reeve Musk is a businessman known for his key roles in the space company SpaceX and the
                    automotive company Tesla, Inc. He is also known for his ownership of X Corp., and his role in the
                    founding of the Boring Company, xAI, Neuralink, and OpenAI</p>
                <br>
                <p>Elon Reeve Musk is a businessman known for his key roles in the space company SpaceX and the
                    automotive company Tesla, Inc. He is also known for his ownership of X Corp., and his role in the
                    founding of the Boring Company, xAI, Neuralink, and OpenAI</p>
                <br>
                <p>Elon Reeve Musk is a businessman known for his key roles in the space company SpaceX and the
                    automotive company Tesla, Inc. He is also known for his ownership of X Corp., and his role in the
                    founding of the Boring Company, xAI, Neuralink, and OpenAI</p>
                <br>
                <p>Elon Reeve Musk is a businessman known for his key roles in the space company SpaceX and the
                    automotive company Tesla, Inc. He is also known for his ownership of X Corp., and his role in the
                    founding of the Boring Company, xAI, Neuralink, and OpenAI</p>

                <div class="comment-box">
                    <h3>Leave a comment</h3>
                    <form class="comment-form">
                        <input type="text" placeholder="Enter Name">
                        <input type="email" placeholder="Enter Mail">
                        <textarea row="5" placeholder="Your Comment">
                        </textarea>
                        <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                    </form>
                </div>

            </div>
            <div class="award-right">
                <h3>Post Categories</h3>
                <div>
                    <span>Business Analytics</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Data Science</span>
                    <span>28</span>
                </div>
                <div>
                    <span>Machine Learning</span>
                    <span>15</span>
                </div>
                <div>
                    <span>Business Analytics</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Computer Science</span>
                    <span>34</span>
                </div>
            </div>
        </div>
    </section>




    {% include "base2.html" %}