{% include "base1.html" %}

<body>
    <section class="sub-header2">
        <nav>
            <a href="index.html"><img src="static/styles/images/x_study.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About-Me</a></li>
                    <!--<li><a href="/academic">Academics</a></li>-->
                    <li><a href="/award">Awards</a></li>
                    <li><a href="/athletic">Athletics</a></li>
                    <li><a href="/dubbing">Voice-Acting</a></li>
                    <li><a href="/teaching">My-Teaching</a></li>
                    <li><a href="/book">My-Book</a></li>
                    <li><a href="/volunteering">Volunteering</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/arts">Arts</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>My Academics & Awards</h1>
    </section>
    {% include "base3.html" %}
    <section class="volunteer">
        <h1>Academics</h1>
        <br>
        <p>
        While I’ve maintained straight A’s in all my academic courses, I’ve always believed that learning doesn’t stop at the classroom door. 
        Over the past few years, I’ve poured myself into experiences that stretch my curiosity, resilience, and creativity. I’ve been volunteering 
        with the Denver Rescue Mission for three years—not for hours, but for impact, and to remind myself why compassion matters. I created my own 
        YouTube channel, where I’ve uploaded hundreds of videos teaching math, science, economics, and vocabulary—not because I was asked to, 
        but because I love turning knowledge into something that can help others grow.
        <br><br><br>
        
        <h1>Certification - Achievements Earned, Excellence Proven</h1>
I’ve also stepped into spaces that pushed me beyond my comfort zone: I joined clubs, competed, and won awards; I published voice acting clips that 
brought characters to life; I began writing a novel to give voice to the stories inside me. During the summers, I chose to work—not just to earn, 
but to learn—and most recently, I’ve been exploring computer game programming, combining logic and creativity in ways I never imagined.
None of this was easy. I’ve had to manage time, overcome self-doubt, and push through language and cultural barriers. But I’ve never lost the joy. 
I’ve learned that passion doesn’t have to be loud—it just has to be real. And in every step I’ve taken, I’ve carried that passion with me, 
using it to build a version of myself that’s not only hardworking, but always growing, always reaching, always ready to do more.

        </p>
        <div class="row">
            <div class="volunteer-col">
                <img src="static/styles/images/2024.jpg">
                <img src="static/styles/images/2023.jpg">
                <img src="static/styles/images/FBLA_2024.jpg">
                <img src="static/styles/images/cert_01.jpg">
                <img src="static/styles/images/cert_02.jpg">
                <img src="static/styles/images/cert_03.jpg">
                <img src="static/styles/images/cert_04.jpg">
                <img src="static/styles/images/cert_05.jpg">
                <img src="static/styles/images/cert_06.jpg">
                <img src="static/styles/images/cert_07.jpg">
                <img src="static/styles/images/cert_08.jpg">
                <img src="static/styles/images/cert_09.jpg">
                <img src="static/styles/images/cert_10.jpg">
                <img src="static/styles/images/cert_11.jpg">
                <img src="static/styles/images/cert_12.jpg">
                <img src="static/styles/images/cert_13.jpg">

            </div>
        </div>
    </section>


    {% include "base2.html" %}