{% include "base1.html" %}

<body>
    <section class="sub-header2">
        <nav>
            <a href="index.html"><img src="static/styles/images/x_study.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About-Me</a></li>
                    <!--<li><a href="/academic">Academics</a></li>-->
                    <li><a href="/award">Awards</a></li>
                    <li><a href="/athletic">Athletics</a></li>
                    <li><a href="/dubbing">Voice-Acting</a></li>
                    <li><a href="/teaching">My-Teaching</a></li>
                    <li><a href="/book">My-Book</a></li>
                    <li><a href="/volunteering">Volunteering</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/arts">Arts</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>My Voice Acting</h1>
    </section>
    {% include "base3.html" %}
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Voice Acting Products</h1>
                <video width=100% height="320" controls autoplay volume=0.2>
                    <source src="static/styles/video/Everly_Fox.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
                <video width=100% height="320" controls >
                    <source src="static/styles/video/Everly_ForrestGump.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
                <video width=100% height="320" controls >
                    <source src="static/styles/video/Everly_Pride_Prejudice.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
                <video width=100% height="320" controls >
                    <source src="static/styles/video/Everly_Vote1.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
                <video width=100% height="320" controls >
                    <source src="static/styles/video/Everly_Vote2.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
                <video width=100% height="320" controls >
                    <source src="static/styles/video/Everly_Forest.mp4" type="video/mp4">
                    Everly Fox
                </video>
                <p>I immigrated to the U.S. in 2020 and have since become a proud student at Cherry Creek High School in Colorado. With a 
                    strong commitment to academics, I've maintained a 4.469 GPA.
                </p>
            </div>
            <div class="about-col">
                <img src="static/styles/images/x_withS.jpg">
                <img src="static/styles/images/x_withS2.jpg">
            </div>
        </div>

    </section>


    {% include "base2.html" %}