{% include "base1.html" %}

<body>
    <section class="sub-header3">
        <nav>
            <a href="index.html"><img src="static/styles/images/x_study.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About-Me</a></li>
                    <!--<li><a href="/academic">Academics</a></li>-->
                    <li><a href="/award">Awards</a></li>
                    <li><a href="/athletic">Athletics</a></li>
                    <li><a href="/dubbing">Voice-Acting</a></li>
                    <li><a href="/teaching">My-Teaching</a></li>
                    <li><a href="/book">My-Book</a></li>
                    <li><a href="/volunteering">Volunteering</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/work">Working-Experiences</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <h1>My Volunteering</h1>
    </section>
    {% include "base3.html" %}
    <section class="volunteer">
        <h1>Volunteering - A Small Act, A Better World.</h1>
        <div class="row">
            <div class="volunteer-col">
                <img src="static/styles/images/volunteer_08.jpg">
                <img src="static/styles/images/volunteer_06.jpg">
                <img src="static/styles/images/volunteer_07.jpg">
                <img src="static/styles/images/volunteer_01.jpg">
                <img src="static/styles/images/volunteer_03.jpg">
                <img src="static/styles/images/volunteer_04.jpg">

                <img src="static/styles/images/turkey_03.jpg">
                <img src="static/styles/images/turkey_04.jpg">
                <img src="static/styles/images/turkey_02.jpg">
                <img src="static/styles/images/202403_01.jpg">
                <img src="static/styles/images/202403_02.jpg">
                <img src="static/styles/images/202403_03.jpg">
                <img src="static/styles/images/202403_04.jpg">
                <img src="static/styles/images/202403_05.jpg">
                <img src="static/styles/images/202403_06.jpg">
            </div>
        </div>
    </section>


    {% include "base2.html" %}